/*
	Regras para Impressão
*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 5px;
}

.body {
    min-width: 900px;
    max-width: 900px;
    min-height: 1024px;
    max-height: inherit;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background: #FFF;
}

.pet-imagem-brands {
    float: right;
    margin-top: 150px;
}

.header {
    min-width: 900px;
    max-width: 900px;
    min-height: 100px;
    max-height: 100px;
    background: url(/public/image/petimagem_logo_c_850.jpg) top left no-repeat;
}

.container {
    min-width: 900px;
    max-width: 900px;
    min-height: 850px;
    max-height: inherit;
}

.footer {
    position: static;
    bottom: 0px;
    min-width: 900px;
    max-width: 900px;
    min-height: 100px;
    max-height: 100px;
    font-size: 14px;
    border: dotted #000;
    border-width: 1px 0 0 0;
}

.page-break {
    page-break-after: always;
}

table {
    margin-left: 5px;
}

table .no_bold {
    font-weight: normal;
}

table .altrow td {
    background: #f5f5f5;
}

.code-pass {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.text {
    color: #333;
    font-weight: bold;
}

.text-low {
    font-size: 10px;
    font-style: italic;
}